.container {
  padding: 2rem 2rem 4rem 2rem;
}

.search {
  width: 100%;
  margin-bottom: 2em;
}

.masonryGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px;
  width: auto;
}

.masonryGridColumn {
  padding-left: 16px;
  background-clip: padding-box;
}

.masonryGridColumn > * {
  width: 100%;
  margin-bottom: 16px;
}

.cardTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.cardTitle s-icon {
  margin-right: .3em;
  flex: 0 0 auto;
}

.cardTitle span {
  font-size: .9em;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fab {
  position: fixed;
  bottom: 3em;
  right: 2em;
}