.container {
  padding: 2rem 2rem 5rem 2rem;
}

.search {
  width: 100%;
  margin-bottom: 2em;
}

.cardGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: calc(1080px + 4rem)) {
  .cardGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: calc(720px + 4rem)) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: calc(360px + 4rem)) {
  .cardGrid {
    grid-template-columns: 1fr;
  }
}

.cardGrid s-card {
  width: 100%;
  max-width: none;
}

.cardTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.cardTitle s-icon {
  margin-right: .3em;
  flex: 0 0 auto;
}

.cardTitle span {
  font-size: .9em;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardAuthor {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardDesc {
  line-height: 1.2em;
  height: 3em;
  padding-bottom: .2em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fabAdd {
  position: fixed;
  bottom: 3rem;
  right: 1.5rem;
}