.switchBox {
  width: calc(100% - 2em * 2);
  margin: 1em 2em 1.3em 2em;
  height: 3em;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.switchBox span {
  margin-left: 1em;
}

.switchBox s-switch {
  margin-right: 1em;
}

.divider {
  margin: 1em 0;
}

.picker {
  width: calc(100% - 2em * 2);
  margin: 1em 2em 1.3em 2em;
}
