.divider {
  margin: 1em 0;
}

.item {
  width: calc(100% - 2em * 2);
  margin: 1em 2em 1.3em 2em;
}

.switchBox {
  height: 2.4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}