.switchBox {
  width: calc(100% - 2rem * 2);
  margin: 1rem 2rem 1.3rem 2rem;
  height: 3rem;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.switchBox span {
  font-size: 14px;
  margin-left: 1rem;
}

.switchBox s-switch {
  margin-right: 1rem;
}

.divider {
  margin: 1rem 0;
}

.picker {
  width: calc(100% - 2rem * 2);
  margin: 1rem 2rem 1.3rem 2rem;
}
